body{
    width: 100%;
    height: 100%;
    font-family: Arial,sans-serif;
    background-color: #f2f0f0;
}

div{
    box-sizing: border-box;
}

header {
    height: 150px;
    /*background: linear-gradient(to bottom, #eb6c10 35px, #f2f0f0 35px);*/
}

.header-band{
    background-color: #eb6c10;
    height: 30px;
}

.header-logoAndMenu{
    height: 120px;
    background-color: #f2f0f0;
}

.container{
    width: 945px;
    margin: 0 auto;
}

.header-lm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    width: 266px;
    height: 72px;
    background: url(../img/logo.png) no-repeat center top/cover;
    margin-top: 23px;
}

.menu{
    margin-top: 23px;
    margin-left: 90px;
}

.menu li{
    display: inline;
}

.menu a{
    color: #8e5351;
    text-decoration: none;
    font-size: 18px;
    font-family: NotoSans-Regular,sans-serif;
    padding: 10px 15px 10px 15px;
    border-radius: 7px 7px 7px 7px
}

.menu a:visited {
    color: #8e5351  ;
}

.menu a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #eb6c10;
}

.main-img{
    height: 615px;
    width: 100%;
    background: url(../img/main-slide.png) no-repeat center top/cover;
}
.section-first{
    height: 290px;
    margin-top: 65px;
}
.section-second{
    height: 380px;
    margin-top: 0;
}
.section-third{
    height: 200px;
    margin-top: 0;
}
.main-content{
    position: relative;
    display: flex;
}
.main-content:before,
.main-content:after {
    position: absolute;
    content: '';
    /*bottom: 0;*/
    border-top: 2px dotted #b3adad;
    width: 440px;
}

.main-content:after {
    left: 0;
}

.main-content:before {
    right: 0;
}

/*welcome-start*/
.main-content-welcome{
    width: 515px;
}

.main-content-welcome-info-povar{
    width: 160px;
    height: 160px;
    background: white;
    border-radius: 50%;
    border: 1px solid #e6e4e4;
    box-shadow: 5px 5px 3px rgba(230, 228, 228, 0.1);
}

.povar-img{
    width: 150px;
    height: 150px;
    margin: 5px;
}

.main-content-welcome-info{
    display: flex;
    margin-top: 27px;
}
.section-first h2{
    font-family: "Times New Roman",sans-serif;
    font-size: 25px;
    color: #5d0400;
    margin-top: 45px;
}


.welcome-block-info{
    margin-left: 40px;
}
.welcome-info{
    width: 315px;
    font-size: 14px;
    color: #6b6a6a;
    line-height: 1;
    padding-bottom: 21px;
}
.welcome-info a{
    color: #e6a7a5;
    text-decoration: none;
}
.more-bottom{
    color: #ffffff;
    background-color: #eb6c10;
    text-decoration: none;
    font-size: 12px;
    padding: 9px 14px 9px 14px;
    border-radius: 2px 2px 2px 2px;
}
/*welcome-end*/

.main-content-features{
    width: 445px;
    margin-left: 45px;
}

.main-content-features ul{
    list-style: square;
    margin-top: 30px;
    line-height: 1.4;
}

.main-content-features li{
    font-size: 14px;
    color: #6e0400; /* Цвет маркеров */
}
.slider-wrapper {
    width: 100%;
    overflow: hidden;
}
.w3-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200%;
    transition: transform 1s;
}

.state-1 .w3-content {
    transform: translate3d(0, 0, 0);
}
.state-2 .w3-content{
    transform: translate3d(-50%, 0, 0);
}

.state-1 #state-1,
.state-2 #state-2{
    background-color: #6b6a6a;
}

.main-content-features li span{
    font-size: 14px;
    color: #6b6a6a;
}

.section-second h2{
    font-family: "Times New Roman",sans-serif;
    font-size: 25px;
    color: #5d0400;
}

.main-content-best-choice-info{
    display: flex;
    margin-top: 27px;
}

.main-content-best-choice {
    width: 100%;
}

.dishes{
    display: flex;
}

.dishes-item{
    width: 220px;
}

.dishes-item-img{
    height: 140px;
    width: 218px;
    background-color: #ffffff;
    margin-top: 27px;
    border: 1px solid #f3f2f2;
}
.dishes-item h3{
    margin-top: 23px;
    font-size: 12px;
    color: #1d1916;
    text-transform: uppercase;
}
.dishes-item p{
    margin-top: 7px;
    color: #826660;
    font-size: 12px;
}
.dishes-item a{
    display: inline-flex;
    font-family: Lobster ,sans-serif;
    padding: 10px 12px 9px;
    background-color: #ec8438;
    color: #ffffff;
    border-radius: 2px;
}
.dishes-bottom{
    margin-top: 20px;
}

.dishes-item1-img{
    margin: 3px;
    width: 208px;
    height: 130px;
    border: 1px solid #f3f2f2;
}

.social-networking{
    width:445px ;
    height: 195px;
}

.social-networking h2{
    font-family: "Times New Roman",sans-serif;
    font-size: 20px;
    color: #79302b;
    margin-top: 40px;
}

.social-networking-icon{
    display: flex;
    margin-top: 30px;
}

.icon-margin{
    margin-left: 12px;
}

.nav-menu-section-third{
    margin-top: 30px;
}
.menu-section-third{
    display: flex;
}

.menu-section-third a{
    color: #504f4f;
    font-size: 12px;
    text-transform: uppercase;
}

.menu-section-third-margin{
    margin-left: 20px;
}

.email-updates{
    width:445px ;
    height: 195px;
    margin-left: 50px;
}

.email-updates h2{
    font-family: "Times New Roman",sans-serif;
    font-size: 20px;
    color: #79302b;
    margin-top: 40px;
}
.email-updates p{
    color: #000000;
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.5;
}

.search{
    display: flex;
}
.search-label{
   width: 220px;
    height: 30px;
}
input::placeholder{
    color: #d9d8d8;
    padding-left: 10px;
}
.search-button {
    margin: 20px 0 0 10px;
    background-color: #eb6c10;
    color: #ffffff;
    padding: 10px 13px 10px 13px;
    font-size: 10px;
    border-radius: 4px 4px 4px 4px;
}
.footer-section {
    display: flex;
    justify-content: center;
}

.footer-section p {
    margin-top: 48px;
    font-size: 12px;
    margin-left: 12px;
    color: #ffffff;
}
footer{
    height: 110px;
    width: 100%;
    background-color: #eb6c10;
}
button{
    border: 0;
    width: 29px;
    height: 29px;
}
.slide-bottom{
    font-family: "Lobster 1.3",sans-serif;
    background-color: #ec8438;
    color: #ffffff;
    border-radius: 2px;
}
.button-slide{
    float: right;
}

.h2-button{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}