body{
    font-family: Arial,sans-serif;
    padding: 0;
    margin: 0;
}
div{
    box-sizing: border-box;
}
header{
    background: url(../img/1-bg.png) no-repeat center top/cover;
    height: 735px;
}
p{
    font-family: Lato,sans-serif;
    color: #ffffff;
    text-align: center;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.logo{
    font-family: Montserrat,sans-serif;
    font-size: 25px;
    color: #ffffff;
    padding-top:55px;
}
.nav-menu-header{
    display: flex;
    justify-content: center;
    padding-top: 55px;
}
.menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu li{
    display: flex;
    justify-content: flex-start;
    margin-right: 65px;
}
.menu a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}
.icon-person{
    background: url(../img/header-img.png) no-repeat center top/cover;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    color: #ffffff;
    }
.icon-menu{
    margin-left: -62px;
    }
/*.outline{*/
    /*border: 4px solid #ffffff;*/
    /*border-radius: 30px; !* Уголки *!*/
    /*padding:15px 22px 15px 22px;*/
/*}*/
/*.titles h1{*/
    /*font-family: ChunkFive,sans-serif;*/
    /*color: #ffffff;*/
    /*margin: 150px 0 0 0;*/
    /*text-align: center;*/
    /*font-size: 80px;*/
/*}*/
/*.color-h{*/
    /*color: #01a2a6;*/
/*}*/
/*.titles-p{*/
    /*font-size: 18px;*/
    /*margin-top: 7px;*/
/*}*/
/*.titles-button{*/
    /*text-align: center;*/
    /*margin-top: 30px;*/
/*}*/
/*.first-button{*/
    /*width: 225px;*/
    /*padding:30px 0;*/
    /*margin: 0 auto;*/
    /*display: block;*/
    /*background-color: #ffffa6;*/
    /*border-radius: 50px;*/
    /*color: #000000;*/
    /*text-decoration: none;*/
    /*font-size: 16px;*/
    /*font-family: Lato,sans-serif;*/
    /*font-weight: bold;*/
/*}*/
/*.first-image-about{*/
    /*background: url(../img/img1.png) no-repeat center top/cover;*/
    /*float: left;*/
    /*margin-top: 70px;*/
    /*margin-left: 55px;*/
/*}*/
/*.about-info{*/
    /*padding: 100px 0 50px 570px;*/
/*}*/
/*.title-about{*/
    /*font-family: ChunkFive,sans-serif;*/
    /*color: #ffffff;*/
    /*text-align: start;*/
    /*margin-top: 7px;*/
/*}*/
/*.about-info h2{*/
    /*font-size: 60px;*/
/*}*/
/*.color2-h{*/
    /*color: #29d9c2;*/
/*}*/
/*.description-about{*/
    /*color:#acacac;*/
    /*text-align: start;*/
/*}*/
/*.footer{*/
    /*background: url(../img/mauntain.png) no-repeat center top/cover;*/
    /*height: 240px;*/
    /*margin-top: 55px;*/
/*}*/
/*.ul-menu-footer li{*/
    /*float: left;*/
    /*display: block;*/
    /*margin-right: 10px;*/
/*}*/
/*.ul-menu-footer a{*/
    /*color: #474348;*/
    /*text-decoration: none;*/
    /*font-size: 12px;*/
/*}*/
/*.menu-footer{*/
    /*padding-top: 5px;*/
/*}*/
/*.social-networks{*/
    /*float: right;*/
/*}*/
/*.corporation-footer{*/
    /*color: #474348;*/
    /*text-decoration: none;*/
    /*font-size: 12px;*/
    /*margin-top: 205px;*/
/*}*/
